<!DOCTYPE html>
<html>
  <head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" href="/jsbootcamp.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"
  </head>
  <body>
  	<p> some handlebars</p>
	{{#each contacts}}
	  <p>
	  {{firstName}}
	  </p>
	{{/each}}
	<div class='form'>
		<input type="text">
		<i class="fa fa-angle-double-left hidden"></i>
	</div><br>
	<div class='form'>
		<input type="text">
		<i class="fa fa-angle-double-left hidden"></i>
	</div><br>
	<div class='form'>
		<input type="text">
		<i class="fa fa-angle-double-left hidden"></i>
	</div><br>
	<div class='form'>
		<input type="text">
		<i class="fa fa-angle-double-left hidden"></i>
	</div>
  </body>
</html>